<%- include ../layouts/_toppage.ejs %>
<section class="creategame-container">
    <article>
        <h2>Poll URL:</h2>
        <a class="no-margin" href="<%- gameUrl%>">
            <p>
                <%-gameUrl%>
            </p>
        </a></article>
        <article>
            <h2>Poll code:</h2>
            <p id="pollCode">
                <%-poll%>
            </p>
            <input type="hidden" value="<%- poll%>" id="pollInput" />
            <div class="no-js-container-button button">
                <div class="translate"></div>
                <button id="copy">Copy code</button>
              </div>
        </article>
</section>

<%- include ../layouts/_bottompage.ejs %>