<!DOCTYPE html>
<html lang="en">

<%- include ../partials/head.ejs %>

    <header>
        <a href="/">
            <h1>
                <%-stelling%>
            </h1>
        </a>
    </header>
    <main>
        <section class="result-container">
            <article>
                <h2>Totaal eens:</h2>
                <h2 class="result-title"><%=eens%></h2>
                <div class="no-js">
                    <div class="result-bar no-js" data-value="<%-eens%>">

                    </div>
                </div>
            </article>
            <article>
                <h2>Totaal oneens:</h2>
                <h2 class="result-title"><%=oneens%></h2>
                <div class="no-js">
                    
                    <div class="result-bar no-js" data-value="<%-oneens%>">
                    </div>
                </div>
            </article>
        </section>
        <div class="tooltip">
            <h2></h2>
        </div>
        <%- include ../layouts/_bottompage.ejs %>